body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 30px;
  margin-bottom: 30px;
  
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  width: 620px;
  margin-bottom: 0px;
  margin-left: -15px;

}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 50px;
  margin-top: 100px;
  margin-left: auto;
  width: 200px;
}